* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
   background: #56CCF2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.code{
  text-align: center;
  font-family: "Roboto Mono", monospace;
  font-size: 50px;
  color: #ffffff;
  padding-top: 20px;
}

h2{
  text-align: center;
  font-family: "Roboto Mono", monospace;
  color: #3c98ff;
}
.container {
  background-color: #f0f9ff;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: min(90%, 31.25em);
  padding: 3.75em 0;
  border-radius: 0.8em;
  box-shadow: 0 1.97em 3.75em rgba(1, 87, 185, 0.2);
}
.timer-display {
  position: relative;
  width: 110%;
  background-color: #3c98ff;
  left: -5%;
  padding: 1em 0;
  font-family: "Roboto Mono", monospace;
  color: #f0f9ff;
  font-size: 2.5em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 0.3em;
  box-shadow: 0 0.5em 1em rgba(1, 87, 185, 0.2);
}
.buttons {
  width: 80%;
  margin: 3.8em auto 0 auto;
  display: flex;
  justify-content: space-around;
}
.buttons button {
  font-size: 1.12em;
  background-color: #dbe9ff;
  color: #3c98ff;
  border: none;
  font-family: "Poppins", sans-serif;
  border-radius: 0.5em;
  padding: 1em 1.5em;
  cursor: pointer;
  outline: none;
}
#start-timer {
  background-color: #3c98ff;
  color: #f0f9ff;
}

@media (max-width: 650px){
  .container{
    width: 70%;
  }

  .timer-display{
    width: 120%;
    font-size: 1.7rem;
    left: -10%;
  }

  .code{
    font-size: 2.5rem;
  }

  .buttons{
    margin: 4rem auto 0 auto;
  }


}

